$icon-font-path: '../fonts/bootstrap/';
@function font-path($path) {
  @return $path;
}
// @import "bootstrap-compass";
// @import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$gradient_home_1: #062F48;
$gradient_home_2: #3E4379;
$color_a: #8D2F7A;
$height_nav: 116px;
html{
	height: 100%;
	body{
		height: 100%;
	}
}
nav{
	a{
		color: white !important;
	}
}
.navbar-transparent {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   li { 
   }
}
.container-custom-1{
	width: 90%;
	height: $height_nav;
	margin: 0 auto;
}
.nav{
	height: $height_nav;

}
.navbar-brand{
	margin-top: 15px;
}
.navbar-collapse{
	text-align: center;
}
.navbar-center{
	width: 90%;
	position: absolute;
	display: flex;
  	justify-content: center;
  	li{
  		margin: 0 50px;
  	}
}
.center_v{
	display: flex;
	align-items: center;
}
.home-div{
	height: 120vh;
	position: absolute;
	background: $gradient_home_1; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, $gradient_home_1, $gradient_home_2); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, $gradient_home_1, $gradient_home_2); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, $gradient_home_1, $gradient_home_2); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, $gradient_home_1, $gradient_home_2); /* Standard syntax */
	color: white;
	display: flex;
	align-items: center;
	.form-group{
		margin: 0 auto;
		width: 60%;
		span{
			margin-top: 15px;
			display: block;
			a{
				color: $color_a;
				margin-top: 120px;
				font-size: 20px;
			}
		}
		label{
			text-align: left;
			font-size: 80px;
			line-height: 70px;
			font-style: italic;
			// margin-top: 10%;
		}
		.input-home-search{
			margin: 15px 0;
			width: 100%;
			height: 80px;
			color: black;
			font-size: 30px;
			padding: 10px 20px 10px 20px;
			border-radius: 10px;
		}
	}
}