@import url('https://fonts.googleapis.com/css?family=Rambla|Roboto');
@import "bootstrap";
@import "font-awesome";

$gradient_home_1: #062F48;
$gradient_home_2: #3E4379;
$color_a: #8D2F7A;
$height_nav: 116px;
$color_button_search_back: #4CBFAE;
$color_button_search_up: #D72E92;
$color-grey-special: rgb(100,111,127);
$font-default: 'Roboto';
$font-special: 'Rambla';
html{
	height: 100%;
	font-family: $font-default, sans-serif;
	body{
		height: 100%;
	}
}
nav{
	a{
		color: white !important;
	}
}
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.navbar-transparent {
   background: transparent;
   border-color: transparent;
	&.nav-min{
	   	height: $height_nav - 30px;
	   	.navbar-center{
			width: 90%;
			position: absolute;
			display: flex;
		  	justify-content: center;
		  	margin-top: -15px;
		  	li{
		  		margin: 0 50px;
		  	}
		}
		.center_v{
			display: flex;
			align-items: center;
			margin-top: -15px;
		}
	}
    .nav{
		height: $height_nav;
	}
	.login{
		li:first-child{
			&:after{
				    content: " ";
				    color: white;
				    position: absolute;
				    right: 0;
				    top: 15px;
				    height: 20px;
				    border: 0.5px solid white;
			}
		}
	}
	.logout{
		margin-right: 15px;
		li:first-child{
			a{
				padding-right: 0;
				font-style: italic;
			}
		}
		img{
			position: absolute;
			right: -55px;
			top: -5px;
			border-radius: 50%;
			width: 50px;
			height: 50px;
			object-fit: cover;
			object-position: 50% 50%;
		}
	}
    .open { 
	   background-color: transparent;
	   background: transparent;
	   border-color: transparent;
	}
	.background-nav{
		transition: all 0.2s linear;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;
		opacity: 1;
		background: $gradient_home_1; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(left top, $gradient_home_1, $gradient_home_2); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(bottom right, $gradient_home_1, $gradient_home_2); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(bottom right, $gradient_home_1, $gradient_home_2); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to bottom right, $gradient_home_1, $gradient_home_2); /* Standard syntax */
		&.ng-hide{
			opacity: 0;
		}
	}
	.navbar-brand{
		margin-top: 15px;
		position: absolute;
		z-index: 1000;
		img{
			border-radius: 50%;
		}
	}
	.navbar-center{
		width: 90%;
		position: absolute;
		display: flex;
	  	justify-content: center;
	  	li{
	  		margin: 0 50px;
	  	}
	}
	.navbar-collapse{
		text-align: center;
	}
	.container-custom-1{
		width: 90%;
		height: $height_nav;
		margin: 0 auto;
		position: relative;
		z-index: 1;
	}
}
.center_v{
	display: flex;
	align-items: center;
}
.home-div{
	height: 100vh;
	position: relative;
	background: $gradient_home_1; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, $gradient_home_1, $gradient_home_2); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, $gradient_home_1, $gradient_home_2); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, $gradient_home_1, $gradient_home_2); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, $gradient_home_1, $gradient_home_2); /* Standard syntax */
	-webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
    -o-transition: all 250ms linear;
    -ms-transition: all 250ms linear;
    transition: all 250ms linear;
	color: white;
	display: flex;
	align-items: center;
	.img-overlay{
		z-index: 1;
		position: absolute;
		height: 100%;
		width: 100%;
		margin-left: -15px;
		opacity: 0.3;
		background-color: black;
	}
	.img-home-background{
		transition: all 1s linear;
		z-index: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 50% 50%;
		margin-left: -15px;
		opacity: 0.5;
		&.ng-hide{
			opacity: 0;
		}
	}
	.span-info-home{
		transition: all 0.250s linear;
		z-index: 100;
		position: absolute;
		text-align: center;
		bottom: 30px;
		left: 5%;
		font-size: (20 / 16) * 1em;
		&.ng-hide{
			opacity: 0;
		}
		.info-into-span{
			margin: 0 15px;
		}
		.btn-view-profile{
			background-color: $color_button_search_up;
			border-color: $color_button_search_up;
			color: white;
			// transition: all 0.05s linear;
			&:hover{
				background-color: $color_a;
				border-color: $color_a;
			}
		}
	}
	.from-group-search-home{
		position: relative;
		z-index: 100;
		margin: 0 auto;
		width: 60%;
		.advance-search-span{
			margin-top: 15px;
			display: block;
			a{
				font-weight: bold;
				color: $color_a;
				margin-top: 120px;
				font-size: (20 / 16) * 1em;
				&:hover{
					text-decoration: none;
					color: $color_button_search_up;
				}
			}
		}
		label{
			font-family: $font-special, sans-serif;
			text-align: left;
			font-size: (80 / 16) * 1em;
			line-height: 75px;
			font-style: italic;
			// margin-top: 10%;
		}
		.input-search{
			margin: 15px 0;
			width: 100%;
			input{
				height: 80px;
				color: black;
				font-size: (20 / 16) * 1em;
				font-style: italic;
				padding: 10px 20px 10px 20px;
				border-radius: 10px 0 0 10px;
			}
			.input-group-addon{
				width: 80px;
				font-size: (35 / 16) * 1em;
				padding: 0 0 7px 15px;
				border-radius: 0 10px 10px 0;
				background-color: $color_button_search_back;
				border-color: $color_button_search_back;
				color: white;
				&:before{
					content: "";
					position: absolute;
					background-color: $color_button_search_up;
					border-color: $color_button_search_up;
					border-radius: 0 10px 10px 0;
					transition: all 0.05s linear;
					width: 80px;
					top: -5px;
					right: -5px;
					height: 80px;
				}
				&:hover{
					&:before{
						background-color: $color_a;
						border-color: $color_a;
					}
				}
			}
		}
	}

	&.home-div-min{
		height: 200px;
		// align-items: flex-end;
		.from-group-search-home{
			width: 60%;
			margin-top: 55px;
			.input-search{
				margin: 15px 0;
				width: 100%;
				input{
					height: 60px;
					color: black;
					font-size: (18 / 16) * 1em;
					font-style: italic;
					padding: 10px 20px 10px 20px;
					border-radius: 10px 0 0 10px;
				}
				.input-group-addon{
					width: 60px;
					font-size: (30 / 16) * 1em;
					padding: 0 0 7px 10px;
					&:before{
						content: "";
						position: absolute;
						width: 60px;
						top: -4px;
						right: -4px;
						height: 60px;
					}
				}
			}
		}
	}
}
.categories-home{
	transition: all 0.3s linear;
	&.ng-hide{
		opacity: 0;
	}
	.margin-top{
		margin-top: 50px;
	}
	.box-category{
		padding: 0;
		height: 350px;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 50%;
		}
		.category-overlay{
			transition: all 0.3s linear;
			z-index: 1;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			background-color: black;
			&.over-t{
				opacity: 0.5
			}
			span{
				opacity: 1;
				color: white;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				font-size: 20px;
			}
		}
		.btn-view-category{
			position: absolute;
			z-index: 1001;
			bottom: 20px;
			left: 20px;
			font-style: italic;
			font-weight: bold;
			padding: 0px 15px;
			background-color: $color_button_search_up;
			border-color: $color_button_search_up;
			color: white;
			// transition: all 0.05s linear;
			&:hover{
				background-color: $color_a;
				border-color: $color_a;
			}
		}
	}
}
.manito{
	cursor:pointer; cursor: hand;
}
.results{
	transition: all 0.5s linear;
	&.ng-hide{
		opacity: 0;
	}
	.margin-top{
		margin-top: 10px;
	}
	color: $color-grey-special;
	img{
		border-radius: 50%;
		width: 60px;
		height: 60px;
		object-fit: cover;
		object-position: 50% 50%;
	}
	.row_result{
		height: 100px;
	}
	.to_profile{
		color: $color-grey-special;
		text-decoration: none;
		&:hover{
			color: $color_button_search_up;
		}
	}
	table {
		thead{
			.btn{
				color: $color-grey-special;
				border-color: transparent;
				.caret{
					color: $color_button_search_up;
				}
			}
		}
		tbody{
			td{
				vertical-align: middle;
				& > .clasificacion {
					margin: auto;
				}
				.clasificacion{
					border-radius: 50%;
					background-color: $color_button_search_up;
					color: white;
					display: flex;
					align-items: center;
					justify-content: center;
					font-style: italic;
					height: 30px;
					width: 30px;
					font-size: 11px;
				}
				&.starts{
					text-align: center;
					.rating{
						.fa{
							color: orange;
							font-size: 23px;
							margin: 0 5px;
						}
					}
				}
			}
		}
	}
}
.info-home{
	transition: all 0.3s linear;
	margin-bottom: 100px;
	&.ng-hide{
		opacity: 0;
	}
	.margin-top{
		margin-top: 100px;
	}
	img{
		width: 100%;
		object-fit: cover;
		object-position: 50% 50%;
	}
	p{
		line-height: 35px;
		text-align: justify;
	}
	.btn-info-home {
		margin-top: 15px;
		color: white;
		width: 150px;
		height: 50px;
		font-weight: bold;
		font-style: italic;
		&.btn-1{ margin-right: 10px; background-color: $color_button_search_up; border-color: $color_button_search_up}
		&.btn-2{ background-color: $color_button_search_back; border-color: $color_button_search_back}
		
	}
}
.artist{
	.container {
		width: 60%;
		margin: 0 auto;
	}
	.home-div{
		margin-top: $height_nav - 31px;
		height: 300px;
		position: relative;
		background: $gradient_home_1; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(left top, $gradient_home_1, $gradient_home_2); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(bottom right, $gradient_home_1, $gradient_home_2); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(bottom right, $gradient_home_1, $gradient_home_2); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to bottom right, $gradient_home_1, $gradient_home_2); /* Standard syntax */
		-webkit-transition: all 250ms linear;
	    -moz-transition: all 250ms linear;
	    -o-transition: all 250ms linear;
	    -ms-transition: all 250ms linear;
	    transition: all 250ms linear;
		color: white;
		display: flex;
		align-items: center;
		.img-home-background{
			transition: all 1s linear;
			z-index: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 50%;
			margin-left: -15px;
			opacity: 1;
			&.ng-hide{
				opacity: 0;
			}
		}
		.category-artist{
			transition: all 0.250s linear;
			z-index: 100;
			position: absolute;
			text-align: center;
			bottom: 20px;
			left: 20%;
			padding: 5px 10px;
			margin: 0 15px;
			font-style: italic;
			font-weight: bold;
			background-color: $color_button_search_up;
			border-color: $color_button_search_up;
			color: white;
			&.category-sub-artist{
				left: 26%;
				font-size: 10px;
				font-weight: normal;
				background-color: $color_a;
				border-color: $color_a;
			}
		}

	}
	.body{
		margin-top: 15px;
		.margin-top{
			margin-top: 15px;
		}
		h2{
			font-style: italic;
			font-family: $font-special;
			font-size: 50px;
			color: $color-grey-special;
			font-weight: bold;
		}
		img{
			border-radius: 50%;
			width: 100%;
			object-fit: cover;
			object-position: 50% 50%;
		}
		.img-network{
			width: 30px;
			float: left;
			margin: 0 5px;
			
		}
		.clasificacion{
			border-radius: 50%;
			background-color: $color_button_search_up;
			color: white;
			display: flex;
			align-items: center;
			justify-content: center;
			font-style: italic;
			height: 30px;
			width: 30px;
			font-size: 11px;
		}
		.rating{
			.fa{
				color: orange;
				font-size: 23px;
				margin: 0 5px;
			}
		}
		.text-perfil{
			margin: 30px 0 30px 0;
			text-align: justify-content;
			display: flex;
			align-content: center;
			color: $color-grey-special;
			line-height: 30px;
		}
		.media-artist{
			display: flex;
			justify-content: center;
			align-content: center;
			margin-bottom: 50px;
		}
	}
}
.signup{
	margin-top: $height_nav;
	margin-bottom: 35px;
	h3{
		text-align: center;
		margin-bottom: 25px;
	}
	.btn-artist{
		background: $color_button_search_back; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(left top, $gradient_home_1, $color_button_search_up); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(bottom right, $gradient_home_1, $color_button_search_up); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(bottom right, $gradient_home_1, $color_button_search_up); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to bottom right, $gradient_home_1, $color_button_search_up); /* Standard syntax */
		color: white;
	}
	.input-group-addon{
		padding: 5px;
		img{
			width: 20px;
			height: 20px;
			object-fit: cover;
			object-position: 50% 50%;
		}
	}
	.select-type{
		height: 350px;
		display: flex;
		-webkit-transition: all 500ms linear;
	    -moz-transition: all 500ms linear;
	    -o-transition: all 500ms linear;
	    -ms-transition: all 500ms linear;
	    transition: all 500ms linear;
		span{
			font-family: $font-special;
			margin: auto;
			color: white;
			font-weight: bold;
			font-size: 40px;
		}
		&.s1{
			background: $color_button_search_back; /* For browsers that do not support gradients */
			background: -webkit-linear-gradient(left top, $gradient_home_1, $color_button_search_up); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(bottom right, $gradient_home_1, $color_button_search_up); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(bottom right, $gradient_home_1, $color_button_search_up); /* For Firefox 3.6 to 15 */
			background: linear-gradient(to bottom right, $gradient_home_1, $color_button_search_up); /* Standard syntax */
		}
		&.s2{
			background: $color_button_search_up; /* For browsers that do not support gradients */
			background: -webkit-linear-gradient(left top, $gradient_home_1, $color_button_search_back); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(bottom right, $gradient_home_1, $color_button_search_back); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(bottom right, $gradient_home_1, $color_button_search_back); /* For Firefox 3.6 to 15 */
			background: linear-gradient(to bottom right, $gradient_home_1, $color_button_search_back); /* Standard syntax */
		}
		.category-overlay{
			transition: all 0.3s linear;
			z-index: 1;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			opacity: 00;
			background-clip: content-box, padding-box;
			padding: 0 15px;
			background-color: black;
			&.over-t{
				opacity: 0.5
			}
			span{
				opacity: 1;
				color: white;
				display: flex;
				align-items: center;
				width: 100%;
				height: 100%;
				font-size: 20px;
				text-align: center;
			}
		}
	}
}
.footer{
	color: white;
	margin-right: 15px;
	a{
		color: white;
		margin: 5px 0;
		&:hover{
			color: $color_button_search_up;
			text-decoration: none;
		}
	}
	.margin-top{
		margin-top: 50px;
	}
	.footer-1{
		background-color: rgb(12,35,57);
		height: 250px;
		.margin-top-network{
			margin-top: 20px;
		}
		.img-network{
			img{
				border-radius: 50%;
				width: 100%;
				object-fit: cover;
				object-position: 50% 50%;
			}
		}
	}
	.footer-2{
		background-color: rgb(9,28,47);
		height: 100px;
		display: flex;
		align-items: center;
		text-align: center;
	}
	.input-search{
		margin: 15px 0;
		width: 100%;
		input{
			height: 40px;
			color: black;
			font-size: (16 / 16) * 1em;
			font-style: italic;
			padding: 10px 20px 10px 20px;
			border-radius: 5px 0 0 5px;
		}
		.input-group-addon{
			width: 40px;
			font-size: (18 / 16) * 1em;
			padding: 0 0 7px 7px;
			border-radius: 0 10px 10px 0;
			background-color: $color_button_search_back;
			border-color: $color_button_search_back;
			color: white;
			&:before{
				content: "";
				position: absolute;
				background-color: $color_button_search_up;
				border-color: $color_button_search_up;
				border-radius: 0 5px 5px 0;
				transition: all 0.05s linear;
				width: 40px;
				top: -3px;
				right: -3px;
				height: 40px;
			}
			&:hover{
				&:before{
					background-color: $color_a;
					border-color: $color_a;
				}
			}
		}
	}
}