<div class="row">
	<div class="col-xs-12 home-div" ng-class="{'home-div-min' : results.length > 0}">
		<div class="from-group from-group-search-home">
			<label ng-hide="results.length > 0" for="exampleInputEmail1">BUSCA <br>UN ARTISTA</label>
			<div class="input-group input-search">
			    <input type="text" class="form-control input-home-search" ng-change="searchDB(search)" ng-model="search" placeholder="Ej: Fotografo, Pintor, Bailarín..." >
			    <span class="input-group-addon">
			      <span class="glyphicon glyphicon-search"></span>
			    </span>
	        </div>
	        <span class="advance-search-span"><a href="#">Búsqueda Avanzada</a></span>
	    </div>
	    <img class="img-home-background" ng-repeat-start="slide in slides" ng-show="slide_i == $index" ng-src="{{slide.img}}">
	   	<span class="span-info-home" ng-show="slide_i == $index && results.length == 0" ng-repeat-end><b class="info-into-span">{{slide.info.name_a}}</b><i class="info-into-span">{{slide.info.ocupation}}</i><a class="info-into-span btn btn-default btn-xs btn-view-profile" href=""><b>Ver perfil</b></a></span>
	   	<div class="img-overlay"></div>
	</div>
	<div class="col-xs-12 categories-home" ng-hide="results.length > 0">
		<div class="container margin-top">
			<div class="row">
				<div class="box-category col-sm-4" ng-repeat="category in categories" >
					<img ng-src="{{category.img}}">
					<a class="btn btn-default btn-view-category" href="">{{category.name}}</a>
					<div class="category-overlay" ng-mouseenter="category.hovering=true" ng-mouseleave="category.hovering=false" ng-class="{'over-t': category.hovering}">
						<span>{{category.description}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 categories-home" ng-show="results.length > 0">
		<div class="container margin-top">
			<div class="row">
				<div class="col-xs-12">
					<table>
						<thead></thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 info-home" ng-hide="results.length > 0">
		<div class="container margin-top">
			<div class="col-xs-5">
				<img src="img/img-home.png">
			</div>
			<div class="col-xs-6 col-sm-offset-1">
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
				<button class="btn btn-default btn-info-home btn-1">Inscribete</button>
				<button class="btn btn-default btn-info-home btn-2">Busca un Artísta</button>
			</div>
		</div>
	</div>
</div>